[submodule "bgfx"]
	path = bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "nanosvg"]
	path = nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "genie"]
	path = genie
	url = https://github.com/bkaradzic/genie
[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx.git
